.logo {
    display: flex;
    justify-content: space-between;
    // padding: 20px 50px 20px 50px;
    background:var(--primary);

    .company-logo,
    .user-logo {
        display: flex;
        align-items: center;
    }
    
    .company-name{
        color: var(--primary);
        font-weight: 600;
        font-size: 22px;
    }
    .user-name{
        color: #ffffff;
        font-weight: 500;
        font-size: 18px;
    }
    .company-name,  .user-name{
        padding-left: 10px;
    }
}
.header{
    width: calc(100% - 5rem);
    margin-left: 5rem;
    z-index: 1;
    transition: all .2 ease;
    // background: var(--primary);
    // padding: 1rem 1.5rem 0 1.5rem;
    position: fixed;
    top: 0;

}
.head-trimmed {
    width: calc(100% - 15rem);
    margin-left: 15rem;
}

.head-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}
.head-menu-item {
    .head-menu-item-btn {
        background-color:#2F4FCD;
        font-size: 20px;
        height: 25px;
        width: 25px;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 50%;
        margin-left: 5px;
        outline: 0;
        color: #ffffff;
    }
}
.notification-icon-container {
    position: relative;
  }
  
  .notification-count {
    position: absolute;
    top: -10px; /* Adjust as needed */
    right: -10px; /* Adjust as needed */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    height:20px;
    width:20px;
  }
  ::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background{
    --mdc-checkbox-selected-focus-icon-color:#0d6efd;
    border-color:#0d6efd !important;
    background-color:#0d6efd !important;
  }
  .true-class{
    color:green !important;
  }
  .false-class{
    color:red !important;
  }