<div class="widthSet">
    <div class="tabs-align">
        <div class="wrapper">
            <div class="searchBar">
                <app-search (searchData)="searchBox($event)"></app-search>
            </div>
        </div>
    </div>
    </div>
    <div class="mt-3">
        <div class="row">
            <div class="col-lg-4">
                <div class="box-section">
                    <!-- Display boxes here -->
                    <div class="box" *ngFor="let box of boxData" (click)="openForm()">
                      <!-- Box content -->
                      {{ box.toteBoxName }}
                    </div>
                  </div>
            </div>
            <div class="col-lg-8" *ngIf="isShow">
                <div class="form-section">
                    <app-form-data [data]="boxData" [lable]="'Unload'" (loadToteBox)="unLoadToteBox($event)"></app-form-data>
                  </div>
            </div>
        </div>
        
    </div>