.head{
    background: #2F4FCD;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding:2px;
}
.pl{
    padding-left: 10px;
}
.inputFields{
    width:100%;
    padding:0px 10px 0px 10px;
}
.addUser{
    padding:10px;
    border-radius:10px;
    background-color:#0d6efd;
    border:1px solid #0d6efd;
    color:#FFFFFF;
}
.btnAlign {
    display: grid; 
    place-items: end;
    padding:10px;
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
    --mdc-dialog-container-shape:20px!important;
    border-radius:var(--mdc-dialog-container-shape, 4px);
}
.message{
    padding:10px 0px  0px  10px;
}
::ng-deep .cdk-overlay-pane{
    height:auto !important;
}
// .closeAlign {
//     display: flex;
//     justify-content: space-between;
// }