<div class="table-container">

  <table class="rwd-table">
    <tbody>
      <tr class="head-tr">
        <th *ngFor="let headers of tableHeaders">
          <ng-container>
            {{ headers.name }}
          </ng-container>
        </th>
      </tr>
      <ng-container *ngFor="let values of tableValues; let j=index">
        <tr>
          <ng-container *ngFor="let key of tableHeaders let i= index">
            <td>
              <ng-container *ngIf="key.type == 'boolean' ">
                <ng-container *ngIf="values[key.key] == true; else elseBlock">
                  <span><i class="fal fa-check"></i></span>
                </ng-container>
                <ng-template #elseBlock>
                  <div *ngIf="values[key.key] == false">
                    <span><i class="fal fa-times"></i></span>
                  </div>
                </ng-template>
              </ng-container>

              <ng-container *ngIf="key.type != 'boolean' && key.type != 'form'">
                <!-- <span *ngIf="values[key] == isEmpty " class="emtyClass"></span> -->
                <span>{{values[key.key]}}</span>
              </ng-container>

              <ng-container *ngIf="key.type=='form'">
                <span (click)="detail.emit()">{{values[key.key]}}</span>
              </ng-container>

              <ng-container *ngIf="key.edit">

                <span><img src="./../../../../assets/icons/edit.svg" alt="" (click)="edit.emit(values)"></span>
                <span><img style="margin-left: 10px;" src="./../../../../assets/icons/trash.svg" alt=""
                    (click)="deleteItem.emit(values.id)"></span>

              </ng-container>
              <ng-container *ngIf="key.viewDetail">
                <span><img src="./../../../../assets/icons/eye.png" alt="" (click)="viewDetail.emit(values)"></span>
              </ng-container>

            </td>
          </ng-container>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>