.head{
    background: #0d6efdb8;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
}
.pl{
    padding-left: 10px;
}
.inputFields{
    width:100%;
    padding:0px 10px 0px 10px;
}
.roleStyle{
    width:100%;
    padding:5px;
}
// .closeAlign {
//     display: flex;
//     justify-content: space-between;
// }