<div class="table-container">
  
      <table class="rwd-table">
        <tbody>
          <tr class="head-tr">
            <th>Box Number</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Current Pass</th>
            <th>No of pass</th>
            <th>Current Status</th>
            <th></th>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>