<div class="table-container">
  
      <table class="rwd-table">
        <tbody>
          <tr class="head-tr">
            <th *ngIf="let headers of tableHeaders">
              <ng-container>
                {{headers}}
              </ng-container>
            </th>
          </tr>
          <!-- <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr>
          <tr>
            <td data-th="Supplier Code">
              UPS5005
            </td>
            <td data-th="Supplier Name">
              2 Pm
            </td>
            <td data-th="Invoice Number">
              3 Pm
            </td>
            <td data-th="Invoice Date">
              2
            </td>
            <td data-th="Due Date">
             4
            </td>
            <td data-th="Net Amount">
              Loaded
            </td>
            <td data-th="Net Amount">
              <a href="">VIEW DETAILS</a>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>