<div class="col-lg-12" [formGroup]="userDetails">
    <div class="col-lg-12 closeAlign head">
        <div>
            <p class="pt-3 pl">{{data ? 'Update User' : 'Add User'}}</p>
        </div>
        <div>
            <button mat-icon-button mat-dialog-close tabindex="-1" class="close-button"><mat-icon
                    class="closeColor">close</mat-icon></button>
        </div>
    </div>
    <div class="main-container user-form">
        <div class="row inputFields">
            <div class="col-lg-6">
                <label for="" class="label">First Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" formControlName="firstName">
                    <mat-error *ngIf="userDetails?.get('firstName')?.hasError('required')">First Name
                        required</mat-error>
                    <mat-error *ngIf="userDetails?.get('firstName')?.hasError('pattern')">First Name must be
                        alphabetic</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <label for="" class="label">Last Name</label>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" formControlName="lastName">
                    <mat-error *ngIf="userDetails?.get('lastName')?.hasError('required')">Last Name required</mat-error>
                    <mat-error *ngIf="userDetails?.get('lastName')?.hasError('pattern')">Last Name must be
                        alphabetic</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <label for="" class="label">Email</label>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="userDetails?.get('email')?.hasError('required')">Email required</mat-error>
                    <mat-error *ngIf="userDetails?.get('email')?.hasError('email')">Invalid email format</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6" *ngIf="!data">
                <label for="" class="label">Password</label>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName="password">
                    <mat-error *ngIf="userDetails?.get('password')?.hasError('required')">Password required</mat-error>
                    <mat-error *ngIf="userDetails?.get('password')?.hasError('pattern')">Invalid Password</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <label for="" class="label">Mobile</label>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mobile" formControlName="phoneNumber">
                    <mat-error *ngIf="userDetails?.get('phoneNumber')?.hasError('required')">Mobile Number
                        required</mat-error>
                    <mat-error *ngIf="userDetails?.get('phoneNumber')?.hasError('pattern')">Invalid Mobile
                        Number</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <label for="" class="label">Role</label>
                <mat-form-field>
                    <mat-select placeholder="Select Role" formControlName="roleId" floatlLabel="never">
                      <mat-option *ngFor="let role of roleList" [value]="role?.id">{{role?.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <!-- <div class="col-lg-6">
                <label for="" class="label">Status</label>
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Status" formControlName="status">
                        <mat-option value="true">Active</mat-option>
                        <mat-option value="false">Inactive</mat-option>
                      </mat-select>
                </mat-form-field>
            </div> -->
            <div class="col-lg-6 addBtn">
                <app-add-btn [label]="this.data ? 'Update' : 'Add' " (click)="addNewUser()"></app-add-btn>
            </div>
        </div>
    </div>
</div>