@import url('../../../../utility.scss');
.head{
    background: #0d6efdb8;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
}
.pl{
    padding-left: 10px;
}
.signBtn{
    background-color: #0d6efd;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0d6efd;
    margin: 5px;
}
.flex-container{
    border-radius:20px;
    background-color:#dbe5f5;
    padding:20px;
}

.main-container{
    background:#dbe5f5;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    border-radius:10px!important;
}





