<!-- <h2>Form</h2>
<p>Selected Box: {{ data.name }}</p> -->
<div class="flex-container" [formGroup]="formData">

    <div class="main-container">    
        <div class="row">
            <div class="col-lg-12">
                <h2>{{data?.toteBoxName}}</h2>
            </div>
            <div class="col-lg-12">
                <label for="" class="label">Barcode: </label>
                <mat-form-field class="example-full-width mb-2">
                    <input matInput placeholder="Box Number" [readonly]="true" [(ngModel)]="data.barcode" formControlName="boxNumber">
                </mat-form-field>
            </div>

            <div class="col-lg-12">
                <label for="" class="label">No of Pass: </label>
                <mat-form-field class="example-full-width mb-2">
                    <input matInput placeholder="No of Pass" value=3 formControlName="noofPass">
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <label for="" class="label">Shift : </label>
                <mat-form-field class="example-full-width mb-2">
                    <input matInput placeholder="No of Pass" formControlName="shift" readonly>
                </mat-form-field>
            </div>
            <!-- <div class="col-lg-6">
                <label for="" class="label">Shift : </label>
                <mat-form-field class="example-full-width mb-2">
                        <mat-select placeholder="Shift" formControlName="shift">
                            <mat-option value="AM">Morning Shift(6AM to 2PM)</mat-option>
                            <mat-option value="PM">Evening Shift(2PM to 10PM)</mat-option>
                            <mat-option value="N">Night Shift(10PM to 6AM)</mat-option>
                        </mat-select>
                </mat-form-field>
            </div> -->
        </div>
    </div>
    <div class="btnAlign mb-2 d-flex justify-content-end">

        <app-add-btn [label]="lable" (click)="onSubmit()"></app-add-btn>

    </div>
</div>