<app-add-btn [label]="'Approve'" (action)="ApproveNotifiedData()"></app-add-btn>

<ng-container *ngIf="apiLoader">
    <app-table-loader [valueColumns]="this.service.calculatePaginationVal()" [columns]="tableHeaders.length"></app-table-loader>
</ng-container>

<ng-container>
    <app-scanner-table #childRef [tableHeaders]="tableHeaders" [tableValues]="tableValues" (checkBoxes) = "selectAll($event)"  (emitIds)="getIds($event)" (valueChanged)="onValueChanged($event)"></app-scanner-table>
    
    <mat-paginator #paginator [showFirstLastButtons]="true" class="demo-paginator" aria-label="Select page"
        [pageIndex]="currentPage" (page)="onPageChange($event)" [pageSize]="service.calculatePaginationVal()"
        [length]="totalCount">
        </mat-paginator>
    </ng-container>
