<div class="widthSet">
    <div class="tabs-align">
        <div class="wrapper">
            <div class="searchBar">
                <app-search (searchData)="searchBox($event)"></app-search>
            </div>
        </div>
    </div>
    </div>
    <div class="mt-3">
        <div class="row">
            <div class="col-lg-4">
                <app-scanner-table [tableHeaders]="tableHeaders" [tableValues]="tableValues" (detail)="openForm()"></app-scanner-table>
            </div>
            <div class="col-lg-8" *ngIf="isShow">
                <div class="form-section">
                    <app-form-data [data]="tableValues" [lable]="'Load'" (loadToteBox)="loadToteBox($event)"></app-form-data>
                  </div>
            </div>
        </div>
        
    </div>