@import url('../../../../../utility.scss');
.center-align{
    width: 400px;
    background-color: #F4F4F4;
    padding: 5px;
    border-radius: 9px;
    display: flex;
    margin-top: 20px;
 }
 
 input[type="radio"]{
   visibility: hidden;
   height: 0;
   width: 0;
 }
 
 label {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   cursor: pointer;
   color: var(--secondary);
   padding: 5px 10px;
   border-radius: 9px;
   font-size: 14px;
   padding: 10px 15px 10px 15px;
 }

 .searchBar {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
    margin-top: 20px;
    margin-left: auto;
 
 }
 
 #searchQueryInput {
     // width: 100%;
     height: 2.8rem;
     background: #f5f5f5;
     outline: none;
     border: none;
      border-radius: 8px;
     padding: 0 3.5rem 0 1.5rem;
     font-size: 14px;
 }
 
 #searchQuerySubmit {
     width: 3.5rem;
     height: 2.8rem;
     margin-left: -3.5rem;
     background: none;
     border: none;
     outline: none;
 }
 
 #searchQuerySubmit:hover {
     cursor: pointer;
 }
 .tabs-align{
     display: flex;
     justify-content: space-between;
 }

 .widthSet{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
 }
 .container {
  display: flex;
}

.box-section, .form-section {
  flex: 1;
  padding: 20px;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.form-section {
  background-color: #f0f0f0;
}
.dashboard-container{
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;

}
::ng-deep .ng-select .ng-select-container {
  border:1px solid #0d6efd;
  padding:5px;
  border-radius:5px;

}
::ng-deep .ng-dropdown-panel{
  border:1px solid #0d6efd;
  padding:5px;
  background-color:#ffffff;
  border-radius:5px;
  margin-top:3px;
}

// ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
//   color: white !important;
// }

// ::ng-deep .ng-select .ng-clear-wrapper {
//   color: white;
// }

// ::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
//   border-color: #fdf3f3 transparent transparent;
// }

// ::ng-deep .ng-select.ng-select-opened>.ng-select-container {
//   // background-color: var(--secondary);
// }
.mrBtn {
  margin-left: 5px;
  line-height:28px;
}
::ng-deep .ng-select.ng-select-opened>.ng-select-container .ng-arrow{
  top: -2px;
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
  border-style:solid;
}
::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow{
  border-color:#999 transparent transparent;
  border-style:solid;
  border-width:5px 5px 2.5px;
}
::ng-deep .cdk-overlay-pane{
  // background: #ffffff;
  z-index: 1;
}
::ng-deep .ng-option{
  padding:8px 10px !important;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border:1px solid #0d6efd;
}
::ng-deep .datePicker .mat-mdc-form-field .mat-mdc-input-element::placeholder {
  color: #000000 !important;
}
::ng-deep .datePicker .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
  color: #000000!important;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
  font-size: .9em;
  margin-bottom: 5px;
  color: #333;
  background-color: #8dbeee;
  border-radius: 2px;
  margin-right: 5px;
  padding:2px;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left{
  border-right:1px solid #b8dbff;
  padding:0px 2px;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label, .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon{
  display: inline-block;
  padding: 1px 5px;
}
// .mrBtn {
//   margin-right: 5px; /* Adjust the spacing between elements */
// }
.mrBtn {
  display: inline-block; /* or display: inline; */
  margin-right: 10px; /* Adjust margin as needed */
  
}

.full-width {
  width: 100%; /* Make sure the datepicker inputs occupy full width */
}
.filterClass{
  padding:0px!important;
}
.row{
  margin:20px;
}

 