<div class="dashboard-container">
    <div class="sub-container">
        <div class="dashboard-card">
            <div class="icon-1">
                <div class="box-icon">
                    <img src="./../../../../assets/icons/load-box.png" alt="">
                </div>
                <div class="card-text">
                    <span class="card-name"> Loaded Box</span>
                    <p class="count">{{this.finalCount?.loadedBoxes}}</p>
                </div>
            </div>
        </div>
        <div class="dashboard-card">
            <div class="icon-2">
                <div class="box-icon">
                    <img src="./../../../../assets/icons/load-box.png" alt="">
                </div>
                <div class="card-text">
                    <span class="card-name">Empty Boxes</span>
                    <p class="count">{{this.finalCount?.emptyBoxes}}</p>
                </div>
            </div>
        </div>
        <div class="dashboard-card">
            <div class="icon-1">
                <div class="box-icon">
                    <img src="./../../../../assets/icons/load-box.png" alt="">
                </div>
                <div class="card-text">
                    <span class="card-name">In Progress</span>
                    <p class="count">{{this.finalCount?.inProgressBoxes}}</p>
                </div>
            </div>
        </div>
        <div class="dashboard-card">
            <div class="icon-2">
                <div class="box-icon">
                    <img src="./../../../../assets/icons/load-box.png" alt="">
                </div>
                <div class="card-text">
                    <span class="card-name">Completed</span>
                    <p class="count">{{this.finalCount?.completedBoxes}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-align">
        <div class="center-align">

            <input type="radio" name="size" id="size_1" value="small" checked (change)="loadData('loaded')" />
            <label for="size_1">Loaded Box</label>

            <input type="radio" name="size" id="size_2" value="small" (change)="loadData('inProgress')" />
            <label for="size_2">In Progress</label>

            <input type="radio" name="size" id="size_3" value="small" (change)="loadData('completed')" />
            <label for="size_3">Completed</label>

            <input type="radio" name="size" id="size_4" value="small" (change)="loadData('empty')" />
            <label for="size_4">Empty Boxes</label>

        </div>
        <div class="wrapper">
            <!-- <div class="label">Submit your search</div> -->
            <div class="searchBar">
                <app-search (searchData)="searchBox($event)"></app-search>
            </div>
        </div>
    </div>
</div>
<div class="mt-3">

    <ng-container *ngIf="apiLoader">
        <app-table-loader [valueColumns]="this.service.calculatePaginationVal()"
            [columns]="tableHeaders.length"></app-table-loader>
    </ng-container>
    <ng-container>
        <app-scanner-table [tableHeaders]="tableHeaders" [tableValues]="tableValues"
            (viewDetail)="viewDetails($event)"></app-scanner-table>

        <mat-paginator #paginator [showFirstLastButtons]="true" class="demo-paginator" aria-label="Select page"
            [pageIndex]="currentPage" (page)="onPageChange($event)" [pageSize]="service.calculatePaginationVal()"
            [length]="totalCount">
        </mat-paginator>
    </ng-container>
</div>