<div class="flex-container" [formGroup]="changePassword">

    <div class="col-lg-12 closeAlign head">
        <div>
            <p class="pt-3 pl">Change Password</p>
        </div>
        <div>
            <button mat-icon-button mat-dialog-close tabindex="-1" class="close-button"><mat-icon
                    class="closeColor">close</mat-icon></button>
        </div>

    </div>
    <div class="main-container">
        <div class="row" *ngIf="data.mail">
            <div class="col-lg-12">
                <label for="" class="label">Email Address : </label>
                <mat-form-field class="example-full-width mb-2">
                    <input matInput placeholder="Email Address" formControlName="email">
                    <mat-error *ngIf="changePassword?.get('email')?.hasError('required')">User Name is
                        required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngIf="data.changePwd">
            <div class="col-lg-12">
                <label for="" class="label">New Password : </label>
                <mat-form-field class="example-full-width mb-2">
                    <input matInput placeholder="New Password" formControlName="newPassword">
                    <mat-error *ngIf="changePassword?.get('newPassword')?.hasError('required')">New Password is
                        required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-12">
                <label for="" class="label">Confirm Password : </label>
                <mat-form-field class="example-full-width mb-2">
                    <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
                    <mat-error *ngIf="changePassword?.get('confirmPassword')?.hasError('required')">Confirm Password is
                        required</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="btnAlign mb-2">
        <app-add-btn mat-icon-button mat-dialog-close [label]="'Close'"></app-add-btn>

        <span style="margin-left: 10px; margin-right: 10px;" *ngIf="data.mail">
            <app-add-btn [label]="'Send EMail'" (action)="SendEmail()"></app-add-btn>
        </span>

        <span style="margin-left: 10px; margin-right: 10px;" *ngIf="data.changePwd">
            <app-add-btn [label]="'Update'" (action)="updatePassword()"></app-add-btn>
        </span>
    </div>
</div>