@import url('../../../../utility.scss');
.head{
    background: #0d6efdb8;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
}
.pl{
    padding-left: 10px;
}




