<div class="table-container grid-table">
    <div class="addBtn mb-2">
        <button class="addUser" (click)="addUser()">Add User +</button>
    </div>
    <table class="rwd-table">
      <tbody>
        <tr class="head-tr">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Mobile</th>
          <th>Role</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        <tr>
          <td data-th="First Name">
            Abi
          </td>
          <td data-th="Last Name">
            Ruth
          </td>
          <td data-th="Email">
            abiruth@gmail.com
          </td>
          <td data-th="Password">
            ABI123
          </td>
          <td data-th="Mobile">
           9878675645
          </td>
          <td data-th="Role">
            Admin
          </td>
          <td data-th="Status">
            <a href="">Active</a>
          </td>
          <td>
            <span><img src="../../../../assets/icons/edit.svg" alt="" (click)="editUser()"></span>
            <span><img style="margin-left: 10px;" src="./../../../../assets/icons/trash.svg" alt="" (click)="deleteUser()"></span>
          </td>
        </tr>
        <tr>
            <td data-th="First Name">
              Abi
            </td>
            <td data-th="Last Name">
              Ruth
            </td>
            <td data-th="Email">
              abiruth@gmail.com
            </td>
            <td data-th="Password">
              ABI123
            </td>
            <td data-th="Mobile">
             9878675645
            </td>
            <td data-th="Role">
              Admin
            </td>
            <td data-th="Status">
              <a href="">Active</a>
            </td>
            <td>
              <span><img src="../../../../assets/icons/edit.svg" alt="" (click)="editUser()"></span>
              <span><img style="margin-left: 10px;" src="./../../../../assets/icons/trash.svg" alt="" (click)="deleteUser()"></span>
            </td>
          </tr>
          <tr>
            <td data-th="First Name">
              Abi
            </td>
            <td data-th="Last Name">
              Ruth
            </td>
            <td data-th="Email">
              abiruth@gmail.com
            </td>
            <td data-th="Password">
              ABI123
            </td>
            <td data-th="Mobile">
             9878675645
            </td>
            <td data-th="Role">
              Admin
            </td>
            <td data-th="Status">
              <a href="">Active</a>
            </td>
            <td>
              <span><img src="../../../../assets/icons/edit.svg" alt="" (click)="editUser()"></span>
              <span><img style="margin-left: 10px;" src="./../../../../assets/icons/trash.svg" alt="" (click)="deleteUser()"></span>
            </td>
          </tr>
      </tbody>
    </table>
  </div>